/* 비주얼 */
.friends-visual__container{
  display: block;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 74, 0.1);
  background-color: var(--light-grey);
}

.friends-visual i{
  color: rgb(0, 0, 74, 0.4);
}


/* #splash-screen{
  background: url(../img/hmson.jpg);
  width: 560px;
  height: 700px;
} */