/* 유저컴포넌트 부분 */
.more-component{
  /* background-color: lightblue; */
  padding: var(--horizontal-space);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.more-component__profile{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/* Pay */
.wallet{
  /* margin-top: 10px; */
  padding: 15px;
  background-color: var(--sub-color);
  position: relative;
}

.wallet__title{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-bottom: 15px;
}

.wallet img{
  /* background-color: var(--navy); */
}

.wallet__title span{
  font-weight: 600;
  font-size: 18px;
}

.wallet .balance{
  font-weight: 600;
  position: absolute;
  right: 10px;
}

.wallet__button{
  display: flex;
  flex-flow: row nowrap;
}

.wallet__history{
  position: absolute;
  right: 10px;
}

/* 아이콘 메뉴 */
.suggestion-menu{
  margin-top: 30px;
  padding: 10px 0;
  background-color: aquamarine;
}

.more-icons{
  /* margin-top: 30px; */
  /* background-color: var(--navy); */
}

.more-icons i{
  color: var(--grey);
}