/* Settings 메인 리스트 */
.settings-item{
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

.settings-list__title-wrapper{
  display: flex;
  align-items: center;
  font-size: 18px;
}

.settings-list__icon-wrapper i{
  font-size: 20px;
  width: 45px;
}