/* friends -헤더 */
.friends-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
}

.friends-header__title{
  font-weight: 700;
  font-size: 32px;
}

.friends-header__icons span{
  padding-left: 16px;
  display: inline-block;
  position: relative;
}


/* 비주얼 */
.friends-visual__container{
  display: block;
  text-align: center;
  padding: 10px;
  margin: 0 20px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 74, 0.1);
  background-color: var(--light-grey);
}

.friends-visual i{
  color: rgb(0, 0, 74, 0.4);
}

.chats-visual__ads{
  border: 2px solid var(--sub-color);
  border-radius: 20px;
}

.chats-visual__ads .icon{
  float: left;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  background-color: var(--sub-color);
  font-size: 12px;
}

.chats-visual__ads-content{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
