/* friends -헤더 */
.friends-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
}

.friends-header__title{
  font-weight: 700;
  font-size: 32px;
}

.friends-header__icons span{
  padding-left: 16px;
}

/* 비주얼 */
.friends-visual__container{
  display: block;
  text-align: center;
  padding: 10px;
  margin: 0 20px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 74, 0.1);
  background-color: var(--light-grey);
}

.friends-visual i{
  color: rgb(0, 0, 74, 0.4);
}
