/* 상단 상태바 */
.status-bar{
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: var(--text-sm);
  background-color: var(--light-grey);
  top: 0;
}

.status-bar__item{
  display: flex;
  width: 33%;
}
.status-bar__item:first-child span{
  margin-right: 5px;
}

.status-bar__item:nth-child(2){
  display: flex;
  justify-content: center;
}
.status-bar__item:last-child{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__item .fa-battery-full{
  margin: 0 4px;
}